<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioteka</title>
</head>
<body>
<ul>
    <li><a href="/author_list/">Autrzy</a> </li>
    <li><a href="/author_add/">dodaj Autra</a> </li>
    <li><a href="/book_list/">wyswiet książki</a> </li>
    <li><a href="/book_add/">dodaj książke</a> </li>
    <li><a href="/create_session/">sesje</a> </li>
    <li><a href="/cookies/">ciasteczka</a> </li>
    <li><a href="/set_session/">ustaw sesje</a> </li>
    <li><a href="/show_session/">pokaż sesje</a> </li>
    <li><a href="/del_session/">usuń sesje</a> </li>
    <li><a href="/login/">logowanie</a> </li>
    <li><a href="/add_to_session/">add to session(zadanie_3)</a> </li>
    <li><a href="/show_all_session/">show all session(zadanie_3)</a> </li>
    <li><a href="/set_cookie/">set cookie</a> </li>
    <li><a href="/show_cookie/">show cookie</a> </li>
    <li><a href="/del_cookie/">del cookie</a> </li>
    <li><a href="/add_to_cookie/">add to cookie</a> </li>
    <li><a href="/show_all_cookie/">show all cookie</a> </li>
</ul>

{% block content %}
{% endblock %}

</body>
</html>